In [2]:
#read data

import pandas as pd

df = pd.read_json("assess2_data.json")
df = df.sample(frac=1)

df.head()

,AVGGIFT,FISTDATE,INCOME,LASTDATE,LASTGIFT,NAME,PEPSTRFL,RFA_2A,RFA_2F,TARGET_B,WEALTH_INDEX
24486,6.028571,8706,7,9506,5.0,Douglas L. Aiyangar,X,D,3,0,2.76
29546,11.900000,8902,2,9506,20.0,Alex N. Hao,X,F,1,0,7.39
30482,9.851852,8804,5,9601,10.0,Brandon McShi Sr.,X,F,1,0,5.83
24104,11.333333,9501,7,9510,10.0,Suresh K. Goldston,X,F,4,0,2.61
32874,9.285714,9501,3,9512,10.0,Brandon U. Jasti,X,E,4,0,3.74

In [3]:
print(set(df["INCOME"]), set(df["PEPSTRFL"]), set(df["RFA_2A"]), set(df["RFA_2F"]), set(df["TARGET_B"])) #View unique values for each attribute

(set([1, 2, 3, 4, 5, 6, 7]), set([u'X']), set([u'-9999', u'E', u'D', u'G', u'F']), set([1, 2, 3, 4]), set([0, 1]))

In [4]:
df.shape

(35275, 11)

In [5]:
# Data cleaning
updated_df = df[df["RFA_2A"] != "-9999"] #remove error value -9999

In [6]:
updated_df.shape

(35274, 11)

In [7]:
# Data cleaninig

alpha_to_numeric = {
        "E": 0,
        "D": 1,
        "G": 2,
        "F": 3
}

for alpha in alpha_to_numeric.keys():
    updated_df["RFA_2A"][updated_df["RFA_2A"] == alpha] = alpha_to_numeric[alpha]

updated_df.head()

C:\Users\Kamran\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Kamran\Anaconda2\lib\site-packages\pandas\core\generic.py:5233: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\Kamran\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,AVGGIFT,FISTDATE,INCOME,LASTDATE,LASTGIFT,NAME,PEPSTRFL,RFA_2A,RFA_2F,TARGET_B,WEALTH_INDEX
24486,6.028571,8706,7,9506,5.0,Douglas L. Aiyangar,X,1,3,0,2.76
29546,11.900000,8902,2,9506,20.0,Alex N. Hao,X,3,1,0,7.39
30482,9.851852,8804,5,9601,10.0,Brandon McShi Sr.,X,3,1,0,5.83
24104,11.333333,9501,7,9510,10.0,Suresh K. Goldston,X,3,4,0,2.61
32874,9.285714,9501,3,9512,10.0,Brandon U. Jasti,X,0,4,0,3.74

In [8]:
# Normalize
features_names = ["AVGGIFT", "INCOME", "LASTGIFT", "RFA_2A", "RFA_2F", "WEALTH_INDEX"]
for col in features_names:
    updated_df[col] = (updated_df[col] - updated_df[col].mean()) / (updated_df[col].max() - updated_df[col].min())

updated_df.head()

C:\Users\Kamran\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,AVGGIFT,FISTDATE,INCOME,LASTDATE,LASTGIFT,NAME,PEPSTRFL,RFA_2A,RFA_2F,TARGET_B,WEALTH_INDEX
24486,-0.000395,8706,0.547670,9506,-0.019139,Douglas L. Aiyangar,X,-0.157056,0.245251,0,-0.027373
29546,0.000180,8902,-0.285664,9506,0.010861,Alex N. Hao,X,0.50961,-0.421415,0,0.019002
30482,-0.000021,8804,0.214336,9601,-0.009139,Brandon McShi Sr.,X,0.50961,-0.421415,0,0.003377
24104,0.000124,9501,0.547670,9510,-0.009139,Suresh K. Goldston,X,0.50961,0.578585,0,-0.028875
32874,-0.000076,9501,-0.118997,9512,-0.009139,Brandon U. Jasti,X,-0.49039,0.578585,0,-0.017557

In [9]:
features_names = ["AVGGIFT", "INCOME", "LASTGIFT", "RFA_2A", "RFA_2F", "WEALTH_INDEX"]

X = []
for feature_name in features_names:
    X.append(updated_df[feature_name])    
X = pd.DataFrame(zip(*X))

Y = updated_df["TARGET_B"]

In [10]:
# Split data

trainX = X.iloc[:28000, :]
trainY = Y.iloc[:28000]

testX = X.iloc[28000:, :]
testY = Y.iloc[28000:]

print("Dims: trainX, trainY", trainX.shape, trainY.shape)
print("Dims: testX, testY", testX.shape, testY.shape)

('Dims: trainX, trainY', (28000, 6), (28000L,))
('Dims: testX, testY', (7274, 6), (7274L,))

In [7]:
print trainX.head()
print trainY.head()

          0         1         2        3         4         5
0 -0.000033  0.214336 -0.011139 -0.49039  0.578585 -0.032982
1  0.000259 -0.452330  0.010861  0.50961 -0.421415 -0.038190
2 -0.000426 -0.452330 -0.009139 -0.49039 -0.088082  0.073989
3 -0.000006 -0.118997  0.000861  0.50961 -0.421415 -0.038490
4  0.000346  0.214336  0.004861  0.50961 -0.088082 -0.036087
31752    0
31763    0
5605     0
13808    0
27870    0
Name: TARGET_B, dtype: int64

In [12]:
from sklearn.naive_bayes import  GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn import tree


gnb = GaussianNB()
gnb.fit(X=trainX, y=trainY)
g_accuracy = gnb.score(testX, testY)
print "Gaussian Naive Bayes gave {acc}".format(acc=g_accuracy*100)

bnb = BernoulliNB()
bnb.fit(trainX, trainY)
b_accuracy = bnb.score(testX, testY)
print "Bernoulli Naive Bayes gave {acc}".format(acc=b_accuracy*100)

clf = tree.DecisionTreeClassifier(max_depth=20)
clf.fit(trainX, trainY)
clf_accuracy = clf.score(X=trainX, y=trainY)
print "Decision Tree gave {acc}".format(acc=b_accuracy*100)

Gaussian Naive Bayes gave 92.9337365961
Bernoulli Naive Bayes gave 94.1710200715
Decision Tree gave 94.1710200715