In [1]:
#read data

import pandas as pd

df = pd.read_json("assess2_data.json")
df = df.sample(frac=1)

df.head()

,AVGGIFT,FISTDATE,INCOME,LASTDATE,LASTGIFT,NAME,PEPSTRFL,RFA_2A,RFA_2F,TARGET_B,WEALTH_INDEX
7140,8.928571,8701,5,9511,14.0,Daniel E. Singh,X,E,1,0,8.38
10029,13.571429,8701,4,9510,15.0,Brandon J. O'Pennell Sr.,X,F,1,0,5.92
35187,20.000000,9409,7,9512,20.0,Liwen A. Pennell,X,F,2,0,3.94
5602,36.657143,8610,6,9611,43.0,Reshama E. O'Harchwani,X,G,2,0,10.05
22826,12.142857,9301,1,9602,15.0,Jaesik E. Saini III,X,F,3,0,1.20

In [2]:
print(set(df["INCOME"]), set(df["PEPSTRFL"]), set(df["RFA_2A"]), set(df["RFA_2F"]), set(df["TARGET_B"])) #View unique values for each attribute

(set([1, 2, 3, 4, 5, 6, 7]), set([u'X']), set([u'-9999', u'E', u'D', u'G', u'F']), set([1, 2, 3, 4]), set([0, 1]))

In [3]:
df.shape

(35275, 11)

In [4]:
# Data cleaning
updated_df = df[df["RFA_2A"] != "-9999"] #remove error value -9999

In [5]:
updated_df.shape

(35274, 11)

In [6]:
# Data cleaninig

alpha_to_numeric = {
        "E": 0,
        "D": 1,
        "G": 2,
        "F": 3
}

for alpha in alpha_to_numeric.keys():
    updated_df["RFA_2A"][updated_df["RFA_2A"] == alpha] = alpha_to_numeric[alpha]

updated_df.head()

C:\Users\Kamran\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Kamran\Anaconda2\lib\site-packages\pandas\core\generic.py:5233: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\Kamran\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,AVGGIFT,FISTDATE,INCOME,LASTDATE,LASTGIFT,NAME,PEPSTRFL,RFA_2A,RFA_2F,TARGET_B,WEALTH_INDEX
7140,8.928571,8701,5,9511,14.0,Daniel E. Singh,X,0,1,0,8.38
10029,13.571429,8701,4,9510,15.0,Brandon J. O'Pennell Sr.,X,3,1,0,5.92
35187,20.000000,9409,7,9512,20.0,Liwen A. Pennell,X,3,2,0,3.94
5602,36.657143,8610,6,9611,43.0,Reshama E. O'Harchwani,X,2,2,0,10.05
22826,12.142857,9301,1,9602,15.0,Jaesik E. Saini III,X,3,3,0,1.20

In [7]:
# Normalize
features_names = ["AVGGIFT", "INCOME", "LASTGIFT", "RFA_2A", "RFA_2F", "WEALTH_INDEX"]
for col in features_names:
    updated_df[col] = (updated_df[col] - updated_df[col].mean()) / (updated_df[col].max() - updated_df[col].min())

updated_df.head()

C:\Users\Kamran\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,AVGGIFT,FISTDATE,INCOME,LASTDATE,LASTGIFT,NAME,PEPSTRFL,RFA_2A,RFA_2F,TARGET_B,WEALTH_INDEX
7140,-0.000111,8701,0.214336,9511,-0.001139,Daniel E. Singh,X,-0.49039,-0.421415,0,0.028917
10029,0.000343,8701,0.047670,9510,0.000861,Brandon J. O'Pennell Sr.,X,0.50961,-0.421415,0,0.004278
35187,0.000972,9409,0.547670,9512,0.010861,Liwen A. Pennell,X,0.50961,-0.088082,0,-0.015554
5602,0.002602,8610,0.381003,9611,0.056861,Reshama E. O'Harchwani,X,0.176277,-0.088082,0,0.045644
22826,0.000203,9301,-0.452330,9602,0.000861,Jaesik E. Saini III,X,0.50961,0.245251,0,-0.042998

In [8]:
features_names = ["AVGGIFT", "INCOME", "LASTGIFT", "RFA_2A", "RFA_2F", "WEALTH_INDEX"]

X = []
for feature_name in features_names:
    X.append(updated_df[feature_name])    
X = pd.DataFrame(zip(*X))

Y = updated_df["TARGET_B"]

In [9]:
# Split data

trainX = X.iloc[:28000, :]
trainY = Y.iloc[:28000]

testX = X.iloc[28000:, :]
testY = Y.iloc[28000:]

print("Dims: trainX, trainY", trainX.shape, trainY.shape)
print("Dims: testX, testY", testX.shape, testY.shape)

('Dims: trainX, trainY', (28000, 6), (28000L,))
('Dims: testX, testY', (7274, 6), (7274L,))

In [10]:
print trainX.head()
print trainY.head()

          0         1         2         3         4         5
0 -0.000111  0.214336 -0.001139 -0.490390 -0.421415  0.028917
1  0.000343  0.047670  0.000861  0.509610 -0.421415  0.004278
2  0.000972  0.547670  0.010861  0.509610 -0.088082 -0.015554
3  0.002602  0.381003  0.056861  0.176277 -0.088082  0.045644
4  0.000203 -0.452330  0.000861  0.509610  0.245251 -0.042998
7140     0
10029    0
35187    0
5602     0
22826    0
Name: TARGET_B, dtype: int64

In [11]:
from sklearn.naive_bayes import  GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn import tree


gnb = GaussianNB()
gnb.fit(X=trainX, y=trainY)
g_accuracy = gnb.score(testX, testY)
print "Gaussian Naive Bayes gave {acc}% accuracy".format(acc=g_accuracy*100)

bnb = BernoulliNB()
bnb.fit(trainX, trainY)
b_accuracy = bnb.score(testX, testY)
print "Bernoulli Naive Bayes gave {acc}% accuracy".format(acc=b_accuracy*100)

clf = tree.DecisionTreeClassifier(max_depth=20)
clf.fit(trainX, trainY)
clf_accuracy = clf.score(X=trainX, y=trainY)
print "Decision Tree gave {acc}% accuracy".format(acc=b_accuracy*100)

Gaussian Naive Bayes gave 92.3700852351% accuracy
Bernoulli Naive Bayes gave 93.3736596096% accuracy
Decision Tree gave 93.3736596096% accuracy